*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #222629;

}
.pages ul li {
    list-style: none; 
    font-size:20px;
  }
  
.home{
    position: relative;
    height:100 vh;
    width: 100%;
    background-color: #222629;
    color:#86C232;   
}
a{
    padding-left: 30px;
}
.pages ul li a {
    color: #61892f;
    text-decoration: none;
  }
